body {
  font: normal 18px/1.5 "arial", "Helvetica Neue", sans-serif;
  background: #5be387;
  color: black;
}
.header {
  color: #e6355e;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-img {
  display: flex;
  width: 28%;
}
.wrapper {
  font: normal 18px/1.5 "arial", "Helvetica Neue", sans-serif;
  background: #29b4e6;
  color: black;
  padding: 0 0;
}
.left-side {
    display: flex;
    flex-wrap: wrap;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
